.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: coral;
  height: 50px;
}

.toolbar-navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.toolbar-logo {
  margin-left: 1rem;
}

.toolbar-logo a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar-nav-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-nav-items li {
  padding: 0 0.5rem;
}

.toolbar-nav-items a {
  color: white;
  text-decoration: none;
}

.toolbar-nav-items a:hover,
.toolbar-nav-items a:active {
  color: black;
}

@media (max-width: 768px) {
  .toolbar-nav-items {
    display: none;
  }
} 

@media (min-width: 769px) {
  .toolbar-toggle-button {
    display: none;
  }
}